/* Write your CSS here */

.home-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.home-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-home-img {
  width: 60%;
}

@media screen and (min-width: 768px) {
  .sm-home-img {
    display: none;
  }
}

.lg-home-img {
  width: 40%;
}

@media screen and (max-width: 767px) {
  .lg-home-img {
    display: none;
  }
}
