/* Write your CSS here */
.nav-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dcdcdc;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px 30px 18px 30px;
}

@media screen and (min-width: 768px) {
  .nav-content {
    padding: 26px 40px 26px 40px;
  }
}

.website-logo {
  width: 38px;
  height: 38px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 48px;
    height: 48px;
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.hamburger-menu-btn {
  background-color: transparent;
  width: 42px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 80vh;
}

.close-btn {
  align-self: flex-end;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  margin-top: 18px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .close-btn {
    margin-top: 43px;
  }
}

.nav-links-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.nav-link-item {
  list-style-type: none;
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1e293b;
  margin-bottom: 20px;
}

.nav-link-heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  margin: 0px;
  margin-left: 8px;
}
